{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My Orders{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Orders</h2>
    {% if client_orders %}
    <table>
        <thead>
        <tr>
            <th>Order ID</th>
            <th>OrderDate</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for order in client_orders %}
            <tr>
            <td>{{ order.orderID }}</td>
            <td>{{ order.orderDate }}</td>
            <td>{{ order.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No orders found.</p>
    {% endif %}

{% endblock %}