{% extends 'base.html' %}

{% block header %}
    <h1>Staff Task Rankings</h1>
{% endblock %}

{% block content %}
    <form method="get">
        <label for="days">Time Period (days):</label>
        <input type="number" id="days" name="days" value="{{ days }}" min="1">
        <button type="submit">Update</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Staff Username</th>
                <th>Tasks Completed</th>
            </tr>
        </thead>
        <tbody>
            {% for staff in rankings %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ staff[0] }}</td>
                    <td>{{ staff[1] }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No data available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}