{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Find Order Items{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2>Items</h2>
{% if items %}
<table>
    <thead>
    <tr>
        <th>Item ID</th>
        <th>Item Description</th>
        <th>mainCategory</th>
        <th>subCategory</th>
        <th> </th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
        <td>{{ item.ItemID }}</td>
        <td>{{ item.iDescription }}</td>
        <td>{{ item.mainCategory }}</td>
        <td>{{ item.subCategory }}</td>
        <td>
            <form method="post" action="{{ url_for('func.delete_item') }}">
                <input type="hidden" name="item_id" value="{{ item.ItemID }}">
                <input type="submit" value=" delete item">
            </form>
        </td>
        
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No items in the shopping bag.</p>
{% endif %}

<form action="{{ url_for('func.add_items') }}" method="POST">
    <button type="submit" class="btn">Continue Shopping</button>
</form>

<form action="{{ url_for('func.place_order') }}" method="POST">
    <label for="Notes">Notes:</label>
    <input type="text" name="notes"><br>
    <button type="submit" class="btn">Place Order</button>
</form>

{% endblock %}