{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Confirm Orders{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Pending Orders</h2>
    {% if pending_orders %}
    <table>
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Client</th>
            <th>Order Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for order in pending_orders %}
            <tr>
            <td>{{ order.orderID }}</td>
            <td>{{ order.client }}</td>
            <td>{{ order.orderDate }}</td>
            <td>{{ order.status }}</td>
            <td>
                <form action="{{ url_for('func.confirm_order') }}" method="POST">
                    <input type="hidden" name="orderID" value="{{ order.orderID }}">
                    <input type="hidden" name="username" value="{{ order.client }}">
                    <button type="submit">Confirm Order</button>
                </form>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No pending orders found.</p>
    {% endif %}
{% endblock %}
