{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Welcome, {{ current_user.username }}!</p>

  {% if current_user.is_authenticated %}
    <a href="{{ url_for('func.accept_donation') }}" class="btn btn-primary">Add Donation</a>
    <a href="{{ url_for('func.prepare_order') }}" class="btn btn-secondary">Prepare Order</a>
    <a href="{{ url_for('func.view_rankings') }}">Staff Rankings</a>
    <a href="{{ url_for('func.find_order_items') }}">Find Order Items</a>
    <a href="{{ url_for('func.user_orders') }}">My Orders</a>
    <a href="{{ url_for('func.update_status') }}">Update Status</a>
  {% else %}
    <p>Please <a href="{{ url_for('auth.login') }}">log in</a> </p>
  {% endif %}

{% endblock %}